# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=your-convex-deployment-slug-here

EXPO_PUBLIC_CONVEX_URL=https://your-project-slug.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://your-project-slug.convex.site
